<!DOCTYPE html>
<html>
    <head>
        <title>MindMate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav style="text-align:center; margin-bottom: 24px;">
    <a href="/">Home</a> ·
    <a href="/routine">Routine</a> ·
    <a href="/schedule">Schedule</a> ·
    <a href="/habits">Habits</a> ·
    <a href="/dashboard">Dashboard</a> ·
    <a href="/need-to-talk">Need to Talk?</a>
</nav>
        <h1>MindMate</h1>
        <p>You don't have to figure everything out today.</p>
        <a href="/age-group">Get Started</a>
        <br><a href="/disclaimer">About & Disclaimer</a>

    </body>
    
</nav>
</html>
